.node__content{
  position:relative;
}
.img-fluid {
  width: 100%;
}
.field--name-field-tags{
  position:absolute;
  font-weight: bold;
  font-style: oblique;
  top:5%;
  left:5%;
}
.node--date{
  color: #ffffff;
  font-style: italic;
  font-weight: bold;
  position:absolute;
  top:5%;
  right:5%;
}
a{
  color:#212121;
  text-decoration: none;
}
a:hover{
  text-decoration: underline black;
}


